[data-md-color-scheme='default'] {
	--md-primary-fg-color: #00a4b5;
}

[data-md-color-scheme='slate'] {
	--md-primary-fg-color: #00a4b5;
}

img {
	/* padding: 20px; */
	border-radius: 5px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

video {
	/* padding: 20px; */
	border-radius: 5px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}
label{
	margin: 0;
}
.navbar {
	padding: 8px 16px;
}
.navbar-brand {
	font-size: 20px;
}
.mr-3,
.mx-3 {
	margin-right: 16px !important;
}
@media (min-width: 768px) {
	.navbar-expand-md .navbar-nav .nav-link {
		padding-right: 8px;
		padding-left: 8px;
	}
}
.md-tabs {
	position: relative;
	color: white;
}
.md-tabs__item a {
	color: white;
	opacity: 1;
}
.md-tabs__item .md-tabs__link--active {
	color: var(--background-color2);
}
body{
	height: auto;
}
/* .md-sidebar {
  color: red;
  background-color: purple;
}

.md-sidebar--primary {
  color: red;
  background-color: purple;
}

.md-nav__title {
  color: red;
  background-color: purple;
}

.md-nav__list {
  color: rgb(250, 210, 250);
  background-color: yellow;
}

.md-nav__list {
  color: lightgoldenrodyellow;
  background-color: cyan;
}

.md-nav__item {
  color: lightcoral
  background-color: green;
}

.md-nav__item--section {
  background-color: red;
}

.md-nav__item--nested {
  background-color: lightblue;
} */

.github {
	color: #00a4b5;
}
